body {
	background-color: black;

}

h1 {
	color: chartreuse;
	text-align: center;
	font-family: "Lucida Console", Lucida, monospace;
	
}

p {
	color: chartreuse;
	text-align: center;
	font-family: "Lucida Console", Lucida, monospace;
}

img {
	color: chartreuse;
	text-align: center;
}

a {
	color: black;
	padding: 45px 65bx;
	text-align: center;
	text-decoration: none;

}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
